*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: #e5e5e5;
}

.topo{
    height: 54px;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.logos{
    display: flex;
    align-items: center;
}

.logos img{
    width: 103px;
    height: 29px;
    margin-left: 12px;
}

.borda-logos{
    width: 1px;
    height: 28px;
    background-color: #dbdbdb;
}

.logos ion-icon{
    font-size: 20px;
    margin-right: 12px;
}

.pesquisa{
    width: 215px;
    height: 26px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #979797;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.menu ion-icon{
    margin-right: 25px;
}


.conteudo{
    width: 935px;
    margin: 88px auto;
    display: flex;
}

.posts{
    width: 613px;
}

.stories{
    height: 118px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    background-color: #FFFFFF;
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    height: 85px;
    margin-left: 14px;
    font-size: 12px;
}

.story-icone{
    width: 66px;
    height: 66px;
    background-image: url(../assets/stories_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.story-foto{
    border-radius: 100%;
    width: 56px;
}

.seta-stories{
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    color: white;
    font-size: 30px;
}

.post{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.cabecalho{
    height: 61px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil img{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.foto{
    width: 612px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 17px;
    font-size: 25px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}

.interacao ion-icon{
    margin-right: 15px;
}

span{
    font-weight: bold;
}

.curtidas{
    display: flex;
    margin: 0 17px 15px;
    align-items: center;

}

.curtidas img{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin-right: 5px;
}

.sidebar{
    width: 293px;
}

.sugestoes-topo{
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 17px;
}

.sugestao-principal{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 106px;
}

.sugestao-principal img{
    border-radius: 100%;
    width: 56px;
    height: 56px;
    margin-right: 17px;
    margin-left: 30px;
}

.nick{
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 14px;
}

.cinza{
    color: #8e8e8e;
}

.pravc{
    color: #8e8e8e;
    font-weight: 500px;
}

.ver-tudo{
 display: flex;
 justify-content: space-between;
 font-size: 12px;
 margin-left: 30px;
}

.bold{
    font-weight: 500;
}

.sugestoes{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.sugestao{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    margin-bottom: 17px;
}

.sugestao img{
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-right: 11px;
}

.perfil-sugerido{
    display: flex;
    align-items: center;
}

.seguir{
    font-weight: 500;
    color: #139EF2;
}

.nome-sugerido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
}

.sobre{
    color: #c7c7c7;
    font-size: 11px;
    width: 300px;
    height: 42px;
    margin-left: 30px;
    margin-bottom: 18px;
}

.menu-inferior{
    display: none;
}


@media (max-width: 935px){
    .sidebar{
        display: none;
    }

    .posts{
        margin: 0 auto;
    }

    .conteudo{
        width: 100%;
    }
}

@media (max-width: 614px){

    .posts{
        width: 100%;
    }

    .seta-stories{
        display: none;
    }

    .foto{
        width: 100%;
    }

    .stories{
        background-color: #e5e5e5;
        border: none;
        margin-bottom: 18px;
    }

    .conteudo{
        margin-top: 71px;
    }

    .pesquisa{
        display: none;
    }

    .some{
        display: none;
    }

    .topo{
        justify-content: space-between;
    }

    .logos{
        margin-left: 22px;
        width: calc(50% + 35px);
        justify-content: space-between;
    }

    .menu-inferior{
        display: flex;
        height: 54px;
        width: 100%;
        background-color: #FFFFFF;
        position: fixed;
        bottom: 0;
        left: 0;
        border: 1px solid #dbdbdb;
        font-size: 20px;
        padding: 22px;
        justify-content: space-between;
        align-items: center;

    }

}
